{% extends "base.html" %}

{% load static %}

{% block style %}
<!-- Load the CSS file for the home page and the SweetAlert2 library -->
<link rel="stylesheet" href="{% static "/css/home.css" %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock style %}




{% block content %}

{% include "header.html" %}

<main>
    <div class="subheader">
        <h1>مسار الرحلة</h1>
    </div>
    <div class="cointaner" >
        <div class="right-side" style="width: 100%;">
            <h3>الاماكن حسب رغباتك</h3>
                            <!-- Buttons for adding and editing user inputs -->
            <h3 class="buttons"><button onclick="editUserInputs(this)">جديد</button><button onclick="editPlaces(this)">تحرير</button><button id="bttn" onclick="swap(this)">المطاعم <i class="fa-solid fa-arrow-left"></i></button></h3>
                        <!-- Form for user preferences, initially hidden -->
            <div id="form" class="form" style="display: none;">
                <form action="{% url 'home' %}" method="post"  id="formSubmit">
                    {% csrf_token %}
                    <div id="input" class="content">
                        <label>الاماكن اللي تحب تزورها؟</label><br>
                        <input type="checkbox" name="places" value="historical">متاحف ومراكز ثقافية<br>
                        <input type="checkbox" name="places" value="beaches"> شواطئ وأنشطة بحرية<br>
                        <input type="checkbox" name="places" value="malls">مجمعات تسوق<br>
                        <input type="checkbox" name="places" value="markets">اسواق شعبية<br>
                        <input type="checkbox" name="places" value="themeparks">اماكن ترفيهية<br>
                        <input type="checkbox" name="places" value="museums">معارض ومساحات فنية<br>
                        <input type="checkbox" name="places" value="parks"> حدائق ومنتزهات<br><br>
                    </div>
                    <div id="input" class="content">
                        <label>وش تحب تاكل؟</label><br>
                        <input type="checkbox" name="restaurants" value="fastfood"> مطاعم الوجبات السريعة<br>
                        <input type="checkbox" name="restaurants" value="international"> مطاعم عالمية<br>
                        <input type="checkbox" name="restaurants" value="specialty"> مطاعم متخصصه مثل(اكل ايطالي، فرنسي، لبناني...الخ)<br>
                        <input type="checkbox" name="restaurants" value="seafood">اكلات بحرية<br>
                        <input type="checkbox" name="restaurants" value="local"> مطاعم شعبية (مأكولات محلية)<br>
                        <input type="checkbox" name="restaurants" value="cafe">مقاهي<br><br>
            
                        <label>كم بتاخذ يوم عندنا؟</label><br>
                        <input type="number" name="duration"><br><br>
                    </div>
                    
                    <div id="input"  class="content">
                        <label> هل مصطحب أطفال معك؟</label><br>
                        <input type="radio" name="kids" value="yes"> نعم، أحتاج أماكن مناسبة للأطفال<br>
                        <input type="radio" name="kids" value="no"> لا، لا حاجة لأماكن مخصصة للأطفال<br><br>
            
                    </div>
                    <div id="input"  class="content">
                        <label> هل لديك اهتمامات خاصة؟</label><br>
                        <input type="checkbox" name="interests" value="photography"> أماكن مناسبة للتصوير<br>
                        <input type="checkbox" name="interests" value="art"> تجارب فنية وثقافية<br>
                        <input type="checkbox" name="interests" value="sports"> أنشطة رياضية ومغامرات<br>
                        <input type="checkbox" name="interests" value="events"> الفعاليات والمهرجانات<br>
                        <input type="checkbox" name="interests" value="quiet"> أماكن هادئة ومريحة<br>
                        <input type="checkbox" name="interests" value="crowded"> أماكن حيوية ومزدحمة<br><br>
                    </div>
                    <div id="input"  class="content">
                        <input type="submit" value="ارسال">
                    </div>
            
                </form>
            </div>
                        <!-- List of custom places based on user preferences -->
            <ul id="places">
                {% for i in customPlaces %}
                <li>
                    <div class="li">
                        <div class="circle"></div>
                        <div class="arro"></div>
                    </div>
                    <div>
                        <h5>{{i.name}}</h5>
                        <p>{{i.short_desc}}</p>
                        <p><em style="color: #002f3d77">{{i.category}}</em></p>
                    </div>
                    <div class="editBttns">
                        <a href="{% url "delete" i.id 'place'%}"><button style="background-color: lightcoral;" class="delete"><i class="fa-solid fa-delete-left"></i></button></a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <!-- List of custom restaurants based on user preferences -->
            <ul id="rests" style="display: none;">
                {% for i in customRestaurants %}
                <li>
                    <div class="li">
                        <div class="circle"></div>
                        <div class="arro"></div>
                    </div>
                    <div>
                        <h5>{{i.name}}</h5>
                        <p>{{i.desc}}</p>
                        <p><em style="color: #002f3d77">{{i.category}}</em></p>
                    </div>
                    <div class="editBttns">
                        <a href="{% url "delete" i.id 'rest'%}"><button style="background-color: lightcoral;" class="delete"><i class="fa-solid fa-delete-left"></i></button></a>
                    </div>
                </li>
                {% endfor %}
            </ul>



            <div class="btns">
                <!-- <button>اضافة مكان</button> -->
                <a href="{% url 'save_trip' %}"><button>حفظ</button></a>
            </div>
        </div>



    </div>

</main>
<footer>
    <h4>جميع الحقوق محفوظة</h4>
</footer>

{% endblock content %}